{erl_opts, [debug_info]}.
{deps, [
  %% We need this because of https://github.com/rebar/rebar3/issues/662
  {merl, ".*", {git, "https://github.com/Licenser/merl.git", {branch, "master"}}}
]}.
{plugins, [
           {rebar3_erlydtl_plugin, ".*", {git, "https://github.com/project-fifo/rebar3_erlydtl_plugin.git", {branch, "master"}}}
          ]}.

%% This is ugly, but I have no idea how to do it better... this is not only ugly it creates a endless loop
%% {post_hooks, [{compile, "rebar3 erlydtl compile"}]}.
